parameters:
	ignoreErrors:
		-
			message: '#^Using nullsafe property access on non\-nullable type App\\Enums\\LeadTemperature\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: app/Console/Commands/DecayLeadScoresCommand.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Console/Commands/MarkOverduePaymentsCommand.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Illuminate\\Support\\Carbon\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Console/Commands/ProcessFollowUpsCommand.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Console/Commands/ProcessFollowUpsCommand.php

		-
			message: '#^Cannot call method toIso8601String\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Api/V1/InterestController.php

		-
			message: '#^Using nullsafe property access on non\-nullable type App\\Enums\\LeadStatus\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Api/V1/InterestController.php

		-
			message: '#^Using nullsafe property access on non\-nullable type App\\Enums\\LeadTemperature\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Api/V1/InterestController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$assigned_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Api/V1/LeadAssignmentController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$assignee\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Api/V1/LeadAssignmentController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$assigner\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Api/V1/LeadAssignmentController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$assignment_method\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Api/V1/LeadAssignmentController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Api/V1/LeadAssignmentController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$reason\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Api/V1/LeadAssignmentController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$unassigned_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Api/V1/LeadAssignmentController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/Api/V1/LeadAssignmentController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$activity_type\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Api/V1/LeadNoteController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$body\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/Api/V1/LeadNoteController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$call_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Api/V1/LeadNoteController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/Api/V1/LeadNoteController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$description\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Api/V1/LeadNoteController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 3
			path: app/Http/Controllers/Api/V1/LeadNoteController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$meta\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Api/V1/LeadNoteController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$occurred_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Api/V1/LeadNoteController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$title\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Api/V1/LeadNoteController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$user\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/Api/V1/LeadNoteController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Pagination\\AbstractPaginator\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:through\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 2
			path: app/Http/Controllers/Api/V1/LeadNoteController.php

		-
			message: '#^Parameter \#1 \$query of method App\\Support\\QueryOptions\:\:applyTo\(\) expects Illuminate\\Database\\Eloquent\\Builder, Illuminate\\Database\\Eloquent\\Relations\\HasMany given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Api/V1/MessageController.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Illuminate\\Support\\Carbon\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Api/V1/OpportunityController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:map\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\)\: array\<string, mixed\>, Closure\(App\\Models\\Quotation\)\: array\<string, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Api/V1/QuotationController.php

		-
			message: '#^Cannot call method toIso8601String\(\) on string\.$#'
			identifier: method.nonObject
			count: 3
			path: app/Http/Resources/DialerSessionResource.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 2
			path: app/Http/Resources/DncEntryResource.php

		-
			message: '#^Using nullsafe method call on non\-nullable type App\\Enums\\DncReason\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 3
			path: app/Http/Resources/DncEntryResource.php

		-
			message: '#^Using nullsafe property access on non\-nullable type App\\Enums\\DncReason\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Resources/DncEntryResource.php

		-
			message: '#^Strict comparison using \!\=\= between Illuminate\\Support\\Carbon and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: app/Http/Resources/FollowUpResource.php

		-
			message: '#^Using nullsafe method call on non\-nullable type App\\Enums\\FollowUpStatus\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Resources/FollowUpResource.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Illuminate\\Support\\Carbon\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Resources/FollowUpResource.php

		-
			message: '#^Using nullsafe property access on non\-nullable type App\\Enums\\Channel\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Resources/FollowUpResource.php

		-
			message: '#^Using nullsafe property access on non\-nullable type App\\Enums\\FollowUpStatus\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Resources/FollowUpResource.php

		-
			message: '#^Cannot call method toIso8601String\(\) on string\.$#'
			identifier: method.nonObject
			count: 2
			path: app/Http/Resources/LeadImportResource.php

		-
			message: '#^Using nullsafe property access on non\-nullable type App\\Enums\\LeadStatus\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Resources/LeadProductResource.php

		-
			message: '#^Using nullsafe property access on non\-nullable type App\\Enums\\LeadTemperature\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Resources/LeadProductResource.php

		-
			message: '#^Cannot call method toIso8601String\(\) on string\.$#'
			identifier: method.nonObject
			count: 3
			path: app/Http/Resources/LeadResource.php

		-
			message: '#^Using nullsafe method call on non\-nullable type App\\Enums\\LeadStatus\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Resources/LeadResource.php

		-
			message: '#^Using nullsafe property access on non\-nullable type App\\Enums\\LeadStatus\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Resources/LeadResource.php

		-
			message: '#^Using nullsafe property access on non\-nullable type App\\Enums\\LeadTemperature\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Resources/LeadResource.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Illuminate\\Support\\Carbon\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Resources/LeadStatusHistoryResource.php

		-
			message: '#^Using nullsafe method call on non\-nullable type App\\Enums\\Channel\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Resources/MessageResource.php

		-
			message: '#^Using nullsafe property access on non\-nullable type App\\Enums\\Channel\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Resources/MessageResource.php

		-
			message: '#^Using nullsafe method call on non\-nullable type App\\Enums\\OpportunityStatus\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Resources/OpportunityResource.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Illuminate\\Support\\Carbon\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Resources/OpportunityResource.php

		-
			message: '#^Using nullsafe property access on non\-nullable type App\\Enums\\OpportunityStatus\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Resources/OpportunityResource.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Illuminate\\Support\\Carbon\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Models/FollowUp.php

		-
			message: '#^Cannot call method diffInDays\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Models/Lead.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: app/Models/User.php

		-
			message: '#^Match arm comparison between App\\Enums\\DataScope\:\:Own and App\\Enums\\DataScope\:\:Own is always true\.$#'
			identifier: match.alwaysTrue
			count: 1
			path: app/Policies/DncEntryPolicy.php

		-
			message: '#^Method App\\Services\\Auth\\AuthService\:\:openWorkSession\(\) should return App\\Models\\UserWorkSession but returns Illuminate\\Database\\Eloquent\\Model\.$#'
			identifier: return.type
			count: 2
			path: app/Services/Auth/AuthService.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:each\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\)\: mixed, Closure\(App\\Models\\UserWorkSession\)\: void given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Auth/AuthService.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Laravel\\Sanctum\\PersonalAccessToken\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/Auth/AuthService.php

		-
			message: '#^Cannot call method gt\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Services/Calls/AutoDialerService.php

		-
			message: '#^Method App\\Services\\Calls\\AutoDialerService\:\:nextPendingItem\(\) should return App\\Models\\AutoDialerQueueItem\|null but returns Illuminate\\Database\\Eloquent\\Model\|null\.$#'
			identifier: return.type
			count: 1
			path: app/Services/Calls/AutoDialerService.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:each\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\)\: mixed, Closure\(App\\Models\\AutoDialerQueueItem\)\: void given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Calls/AutoDialerService.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: app/Services/FollowUps/FollowUpService.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Illuminate\\Support\\Carbon\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/FollowUps/FollowUpService.php

		-
			message: '#^Cannot call method diffInDays\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Services/Interest/LeadScorer.php

		-
			message: '#^Empty array passed to foreach\.$#'
			identifier: foreach.emptyArray
			count: 1
			path: app/Services/Leads/LeadImportService.php

		-
			message: '#^If condition is always false\.$#'
			identifier: if.alwaysFalse
			count: 1
			path: app/Services/Leads/LeadImportService.php

		-
			message: '#^Offset ''auto_assign'' on array\{\}\|string on left side of \?\? does not exist\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Services/Leads/LeadImportService.php

		-
			message: '#^Offset ''campaign_id'' on array\{\}\|string on left side of \?\? does not exist\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Services/Leads/LeadImportService.php

		-
			message: '#^Offset ''lead_source_id'' on array\{\}\|string on left side of \?\? does not exist\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Services/Leads/LeadImportService.php

		-
			message: '#^Offset ''product_ids'' on array\{\}\|string on left side of \?\? does not exist\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Services/Leads/LeadImportService.php

		-
			message: '#^Offset ''tag_ids'' on array\{\}\|string on left side of \?\? does not exist\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Services/Leads/LeadImportService.php

		-
			message: '#^Method App\\Services\\Leads\\LeadService\:\:recordActivity\(\) should return App\\Models\\LeadActivity but returns Illuminate\\Database\\Eloquent\\Model\.$#'
			identifier: return.type
			count: 1
			path: app/Services/Leads/LeadService.php

		-
			message: '#^Method App\\Services\\Notifications\\NotificationService\:\:notify\(\) should return App\\Models\\Notification but returns Illuminate\\Database\\Eloquent\\Model\.$#'
			identifier: return.type
			count: 1
			path: app/Services/Notifications/NotificationService.php

		-
			message: '#^Method App\\Services\\Reports\\BusinessReportService\:\:messageCounts\(\) should return array\<string, int\> but returns array\<string, array\<int\>\|int\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/Reports/BusinessReportService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$line_total\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Sales/QuotationService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$product_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Sales/QuotationService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$quantity\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Sales/QuotationService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$unit_price\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Sales/QuotationService.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/Sales/QuotationService.php

		-
			message: '#^Offset 0 on non\-empty\-list\<string\> on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Support/CallingHours.php

		-
			message: '#^Call to an undefined method Faker\\Generator\:\:state\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: database/factories/LeadFactory.php
